*{
	font-family: helvetica,sans-serif;
}
@media (min-width: 992px){
	section.left,.right,.center{
		width: 30%;
		margin: 10px;
		background-color: grey;
	    border: 2px solid black;
	    float: left;
	}
	h1{
	text-align: center;
	}
	div{
	float: left;
	padding: 10px;
	}
	h2.a{
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: right;
	clear: left;
	border: 2px solid black;
	background-color: orange;
	}
	h2.b{
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: right;
	clear: left;
	border: 2px solid black;
	background-color: blue;
	}
	h2.c{
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: right;
	clear: left;
	border: 2px solid black;
	background-color: red;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	section.left,.right{
		width: 45%;
		background-color: grey;
	    border: 2px solid black;
	    float: left;
	    margin: 10px;
	}
	h1{
	text-align: center;
	}
	h2.a{
		margin-top: 0px;
		margin-bottom: 5px;
		display: block;
		float: right;
		clear: left;
		border: 2px solid black;
		background-color: orange;
	}
	h2.b{
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: right;
	clear: left;
	border: 2px solid black;
	background-color: blue;
	}
	h2.c{
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: right;
	clear: left;
	border: 2px solid black;
	background-color: red;
	}
	div{
		float: left;
		padding: 10px;
	}
	section.center{
		width: 93.5%;
		background-color: grey;
	    border: 2px solid black;
	    float: left;
		margin: 10px;
	} 
}
@media (min-width: 0px) and (max-width: 767px){
	section.left,.right,.center{
		width: 50%;
	    float: left;
	    background-color: grey;
	    border: 2px solid black;
	    margin: 10px;
	    margin-left: 25%;
	    margin-right: 10%;
	}
	h1{
	text-align: center;
	}
	h2.a{
		margin-top: 0px;
		margin-bottom: 5px;
		display: block;
		float: right;
		clear: left;
		border: 2px solid black;
		background-color: orange;
	}
	h2.b{
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: right;
	clear: left;
	border: 2px solid black;
	background-color: blue;
	}
	h2.c{
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: right;
	clear: left;
	border: 2px solid black;
	background-color: red;
	}
	div{
		float: left;
		padding: 10px;
	}
}


